.userlist-container {
  all: initial;

  position: fixed;
  z-index: 10000000;
  height: 0px;
  width: 400px;

  max-height: calc(100vh - 100px);

  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);

  opacity: 0;
  transform: translateY(100px);

  transition: opacity .2s, transform .2s, height .2s;
  overflow: hidden;
}

.userlist-container.userlist-open {
  opacity: 1;
  transform: translateY(0);
}

.userlist-container.userlist-top-right {
  top: 30px;
  right: 30px;
}

.userlist-container.userlist-bottom-right {
  bottom: 30px;
  right: 30px;
}

.userlist-container.userlist-bottom-left {
  bottom: 30px;
  left: 30px;
}

.userlist-container.userlist-top-left {
  top: 30px;
  left: 30px;
}

.userlist-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media only screen and (max-width: 460px) {
  .userlist-container {
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    top: auto !important;

    border-radius: 0;
    max-width: none;

    width: 100% !important;
  }
}
